// appearance-none
//
// Resets form appearances for inputs.
//
// Styleguide: Mixins.appearance-none
@mixin appearance-none() {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
