<!-- Example with all possible combinations -->
<figure class="c-avatar c-avatar--border c-avatar--xl" data-initials="DY">
  <span class="c-avatar__fig-wrapper">
    <img class="c-avatar__pic c-avatar__pic--outline c-avatar__pic--half c-avatar__pic--left" src="http://fillmurray.com/200/300" alt="" />
    <img class="c-avatar__pic c-avatar__pic--quarter c-avatar__pic--outline c-avatar__pic--top-right" src="http://fillmurray.com/100/100" alt="" />
    <img class="c-avatar__pic c-avatar__pic--quarter c-avatar__pic--bottom-right" src="http://fillmurray.com/56/77" alt="" />
    <span class="c-avatar__overlay">
      <img class="c-avatar__overlay--inner" src="http://placehold.it/32" alt="" />
      <span class="c-avatar__overlay--inner">:)</span>
    </span>
  </span>
  <span class="c-avatar__status c-avatar__status--online"></span>
</figure>

<!-- Size modifier: c-avatar--lg  -->
<figure class="c-avatar c-avatar--border c-avatar--lg" data-initials="DY">
  <span class="c-avatar__fig-wrapper">
    <img class="c-avatar__pic c-avatar__pic--outline c-avatar__pic--half c-avatar__pic--left" src="http://fillmurray.com/200/300" alt="" />
    <img class="c-avatar__pic c-avatar__pic--outline c-avatar__pic--half c-avatar__pic--right" src="http://fillmurray.com/200/300" alt="" />
  </span>
  <span class="c-avatar__status c-avatar__status--busy"></span>
</figure>

<!-- Completely empty  -->
<figure class="c-avatar c-avatar--border" data-initials="DY">
  <span class="c-avatar__status c-avatar__status--away"></span>
</figure>
