<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas suscipit
possimus, voluptate maxime voluptates rerum doloribus consequatur ratione
iusto nostrum tempora velit in ab obcaecati, officia sed molestiae omnis
<span class="c-badge">12</span> perferendis.</p>

<div class="container">
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
  dolores, commodi <span class="c-badge t-grey c-badge--rounded">8</span> doloremque
  molestias. Asperiores reiciendis expedita molestiae, in ad explicabo id ab
  quae, cupiditate sed sequi qui, dicta laboriosam.
</p>
</div>

<span class="c-badge c-badge--top-right">8</span>
