// Button group
//
// Namespace: `c-btn-group`
//
// Button group component.
//
// Markup: _button-group.html
//
// Styleguide: Components.button-group
.c-btn-group {
  display: flex;

  > .c-btn {
    border-radius: 0;
    margin-left: -1px;
  }

  :first-child {
    border-radius: 4px 0 0 4px;
    margin-left: 0;
  }

  :last-child {
    border-radius: 0 4px 4px 0;
  }

  &--fill {
    justify-content: space-around;

    > .c-btn {
      flex: 1;
    }

  }

}
