// Button
//
// Namespace: `c-btn`
//
// Button component.
//
// Markup: _button.html
//
// Styleguide: Components.button
.c-btn {

  @include space(sm, inner, x, null, rem);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: em(42px);
  line-height: em(42px);
  overflow: visible;
  position: relative;
  text-align: center;
  vertical-align: middle;

  &--primary {
    background-color: get-color('primary');
    color: get-color('white');
  }

  &--secondary {
    background-color: get-color('white');
    border: 1px solid get-color('light');
    color: get-color('darker');
  }

  &--disabled,
  &[disabled] {
    background-color: get-color('light');
    color: get-color('dark');
    cursor: not-allowed;
  }

  &--rounded {
    border-radius: 10em;
  }

  &--full {
    width: 100%;
  }

  &__icon {
    display: inline-block;
    vertical-align: inherit;

    &--left {
      @include space(xs, outer, right, null, rem);
      float: left;
      height: inherit;
    }

    &--right {
      @include space(xs, outer, left, null, rem);
      float: right;
      height: inherit;
    }

  }

}
