<div class="c-compose-box a-box">

  <textarea class="c-compose-box__input" placeholder="Write your message here..."></textarea>

  <ul class="c-compose-box__actions o-list-bare o-list-inline--scrollable">
    <li class="c-compose-box__action">
      <svg class="o-icon a-fill--dark">
        <use xlink:href="_meta/icons.svg#ic_search"/>
      </svg>
    </li>
    <li class="c-compose-box__action">
      <svg class="o-icon a-fill--dark">
        <use xlink:href="_meta/icons.svg#ic_search"/>
      </svg>
    </li>
    <li class="c-compose-box__action">
      <svg class="o-icon a-fill--dark">
        <use xlink:href="_meta/icons.svg#ic_search"/>
      </svg>
    </li>
    <li class="c-compose-box__action">
      <svg class="o-icon a-fill--dark">
        <use xlink:href="_meta/icons.svg#ic_search"/>
      </svg>
    </li>
    <li class="c-compose-box__action">
      <svg class="o-icon a-fill--dark">
        <use xlink:href="_meta/icons.svg#ic_search"/>
      </svg>
    </li>
    <li class="c-compose-box__action">
      <svg class="o-icon a-fill--dark">
        <use xlink:href="_meta/icons.svg#ic_search"/>
      </svg>
    </li>
    <li class="c-compose-box__action">
      <svg class="o-icon a-fill--dark">
        <use xlink:href="_meta/icons.svg#ic_search"/>
      </svg>
    </li>
    <li class="c-compose-box__action">
      <svg class="o-icon a-fill--dark">
        <use xlink:href="_meta/icons.svg#ic_search"/>
      </svg>
    </li>
    <li class="c-compose-box__action">
      <svg class="o-icon a-fill--dark">
        <use xlink:href="_meta/icons.svg#ic_search"/>
      </svg>
    </li>
    <li class="c-compose-box__action">
      <svg class="o-icon a-fill--dark">
        <use xlink:href="_meta/icons.svg#ic_search"/>
      </svg>
    </li>
  </ul>
</div>
