<div class="c-toast">
  <div class="o-media o-media--align-center">
    <div class="c-toast__message o-media__content">
      I am the toast message. Occasionally I'll spill out into two lines.
    </div>
    <div class="c-toast__action o-media__figure o-media__figure--pad-left">
      ACTION
    </div>
  </div>
</div>

<hr>

<div class="c-toast c-toast--top">
  <div class="o-media o-media--align-center">
    <div class="c-toast__message o-media__content">
      I am the toast message. Occasionally I'll spill out into two lines.
    </div>
    <div class="c-toast__action o-media__figure o-media__figure--pad-left">
      ACTION
    </div>
  </div>
</div>

<hr>

<div class="c-toast c-toast--bottom">
  <div class="o-media o-media--align-center">
    <div class="c-toast__message o-media__content">
      I am the toast message. Occasionally I'll spill out into two lines.
    </div>
    <div class="c-toast__action o-media__figure o-media__figure--pad-left">
      ACTION
    </div>
  </div>
</div>
