// ============================================================================
//                                                    ┌─┐┌─┐┌┬┐┌─┐┌─┐┌─┐┌─┐
//   VARIABLES                                     {  │  │ ││││├─┘├─┤│ ┬│ │ }
//                                                    └─┘└─┘┴ ┴┴  ┴ ┴└─┘└─┘
// ============================================================================

$cfg-base-font-px: 14;

$cfg-palette: (
  'brand'          : #7443bf,
  'primary'        : #439be5,
  'lightest'       : #f9fbfd,
  'lighter'        : #f2f6f9,
  'light'          : #e4eaf1,
  'dark'           : #a4adb5,
  'darker'         : #5a646f,
  'darkest'        : #3d4752,
  'positive'       : #29d1a6,
  'attention'      : #ecbd0b,
  'negative'       : #f1575f,
  'white'          : #ffffff
);

$cfg-spacing: (
  'xs' : 5px,
  'sm' : 10px,
  'md' : 20px,
  'lg' : 40px,
  'xl' : 80px
);

$cfg-breakpoints: (
  'xs' : 10em,
  'sm' : 20em,
  'md' : 30em,
  'lg' : 48em,
  'xl' : 70em
);

$cfg-grid-cols: 12;

$cfg-fonts: (
  'body' : (Noto Sans, sans-serif)
);

$cfg-headings: (
  'h1' : 48px,
  'h2' : 36px,
  'h3' : 24px,
  'h4' : 18px,
  'h5' : 16px,
  'h6' : 14px
);

$cfg-headings-lineheights: (
  'h1' : 64px,
  'h2' : 48px,
  'h3' : 36px,
  'h4' : 24px,
  'h5' : 22px,
  'h6' : 20px
);

$cfg-font-sizes: (
  'xs' : 12px,
  'sm' : 14px,
  'md' : 16px,
  'lg' : 18px,
  'xl' : 20px
);

$cfg-z-indexes: (
  'INT_MAX'            :  2147483647,
  'toast'              :  7500,
  'viewport-overlay'   :  5000,
  'header'             :  500,
  'default'            :  1,
  'reset'              :  0,
  'lower'              : -1,
  'lowest'             : -10
);
