<div class="c-avatar-group">
  <figure class="c-avatar" data-initials="DY">
    <span class="c-avatar__fig-wrapper">
      <img class="c-avatar__pic" src="http://fillmurray.com/200/300" alt="" />
    </span>
  </figure>
  <figure class="c-avatar" data-initials="DY">
    <span class="c-avatar__fig-wrapper">
      <img class="c-avatar__pic" src="http://fillmurray.com/250/300" alt="" />
    </span>
  </figure>
  <figure class="c-avatar" data-initials="DY">
    <span class="c-avatar__fig-wrapper">
      <img class="c-avatar__pic" src="http://fillmurray.com/220/300" alt="" />
    </span>
  </figure>
</div>
