<!-- Disabled button -->
<div disabled class="c-btn c-btn--primary">
  What up
</div>

<!-- Secondary button  -->
<div class="c-btn c-btn--secondary">
  What up
</div>

<!-- Rounded button -->
<div class="c-btn c-btn--primary c-btn--rounded">
  What up
</div>

<!-- Disabled button -->
<div class="c-btn c-btn--secondary c-btn--disabled">
  What up
</div>

<hr>

<!-- Fullwidth button -->
<div class="c-btn c-btn--secondary c-btn--full">
  What up
</div>

<hr>

<!-- Button with icon -->
<div class="c-btn c-btn--primary c-btn--full">
  <svg class="c-btn__icon o-icon a-fill--white">
    <use xlink:href="../scss/_meta/icons.svg#ic_search"/>
  </svg>
  Icon
</div>

<hr>

<!-- Icon alignment -->
<div class="c-btn c-btn--primary c-btn--full">
  <svg class="c-btn__icon c-btn__icon--left o-icon a-fill--white">
    <use xlink:href="../scss/_meta/icons.svg#ic_search"/>
  </svg>
  <span>Align left icon</span>
</div>
