<!-- Default card -->
<div class="c-card">
  I am card content.
</div>

<hr>

<!-- Padded card with complex content -->
<div class="c-card c-card--padded-sm">
  <div class="o-media o-media--align-center">
    <div class="o-media__figure o-media__figure--pad-right">
      <figure class="c-avatar c-avatar--border" data-initials="Bill">
        <span class="c-avatar__status c-avatar__status--online"></span>
      </figure>
    </div>
    <div class="o-media__content">
      I am a card with a media object in it.
    </div>
    <div class="o-media__figure o-media__figure--pad-left">
      <div class="c-avatar-group">
        <figure class="c-avatar" data-initials="DY">
          <span class="c-avatar__fig-wrapper">
            <img class="c-avatar__pic" src="http://fillmurray.com/200/300" alt="" />
          </span>
        </figure>
        <figure class="c-avatar" data-initials="DY">
          <span class="c-avatar__fig-wrapper">
            <img class="c-avatar__pic" src="http://fillmurray.com/250/300" alt="" />
          </span>
        </figure>
      </div>
    </div>
  </div>
</div>

<hr>

<!-- Card with button + icon -->
<div class="c-card c-card--padded-sm">
  <div class="o-media o-media--align-center">
    <svg class="o-media__figure o-media__figure--pad-right o-icon o-icon--lg a-fill--dark">
      <use xlink:href="../scss/_meta/icons.svg#ic_search"/>
    </svg>
    <div class="o-media__content">
      I am some text that prompts the user to perform an action.
    </div>
    <div class="o-media__figure o-media__figure--pad-left">
      <div class="c-btn c-btn--primary c-btn--rounded">An action</div>
    </div>
  </div>
</div>

<hr>

<div class="c-card c-card--padded-md c-card--full">
  <h4 class="a-heading--4 i-margin-reset">I am heading 4</h4>
  <p class="a-heading__sub a-color--dark">I am a subheading</p>

  <div class="a-space--md-m-y o-media o-media--align-center">
    <svg class="o-media__figure o-media__figure--pad-right o-icon o-icon--sm a-fill--primary">
      <use xlink:href="../scss/_meta/icons.svg#ic_search"/>
    </svg>
    <div class="o-media__content">Example accompanying text for icon</div>
  </div>

  <a href="#">I am a link</a>

  <div class="a-clearfix a-space--sm-mt">
    <div class="a-float--right">
      <div class="c-btn c-btn--secondary">I am button</div>
      <div class="c-btn c-btn--primary">I am button</div>
    </div>
  </div>
</div>

<hr>

<div class="c-card c-card--full">
  <p class="a-space--md-p">
    Here are two options, pick one.
  </p>
  <div class="o-list-inline o-list-bare o-list-inline--equal-fill a-border--t a-border--light">
    <li class="a-space--sm-p a-type--align-center">No</li>
    <li class="a-space--sm-p a-type--align-center a-border--l a-border--light a-bg--primary a-color--white a-cursor--pointer">Yes</li>
  </div>
</div>

<hr>

<div class="c-card">
  <img src="http://fillmurray.com/300/200"/>
  <div class="a-space--sm-p">
    <p>I am a card</p>
  </div>
  <ul class="a-border--t a-border--light o-list-bare o-list-online o-list-inline--equal-fill">
    <li class="a-space--sm-p a-type--align-center">Action</li>
    <li class="a-space--sm-p a-type--align-center a-color--white a-bg--primary">Other action</li>
  </ul>
</div>
