<!-- Default card -->
<div class="c-card">
  I am card content.
</div>

<hr>

<!-- Padded card with complex content -->
<div class="c-card c-card--padded">
  <div class="o-media o-media--align-center">
    <div class="o-media__figure o-media__figure--pad-right">
      <figure class="c-avatar c-avatar--border" data-initials="Bill">
        <span class="c-avatar__status c-avatar__status--online"></span>
      </figure>
    </div>
    <div class="o-media__content">
      I am a card with a media object in it.
    </div>
    <div class="o-media__figure o-media__figure--pad-left">
      <div class="c-avatar-group">
        <figure class="c-avatar" data-initials="DY">
          <span class="c-avatar__fig-wrapper">
            <img class="c-avatar__pic" src="http://fillmurray.com/200/300" alt="" />
          </span>
        </figure>
        <figure class="c-avatar" data-initials="DY">
          <span class="c-avatar__fig-wrapper">
            <img class="c-avatar__pic" src="http://fillmurray.com/250/300" alt="" />
          </span>
        </figure>
      </div>
    </div>
  </div>
</div>
