<input placeholder="Placeholder text" id="demo-input" type="text" class="c-input"/>
<hr>
<input type="text" class="c-input c-input--full"/>
<hr>
<input placeholder="Placeholder text" value="I have an error" id="demo-input" type="text" class="c-input c-input--full has-error"/>
<hr>
<input placeholder="Placeholder text" id="demo-input" type="text" class="c-input c-input--full is-valid"/>
<hr>
<input placeholder="Placeholder text" value="I require attention" id="demo-input" type="text" class="c-input c-input--full has-attention"/>
