<div class="c-message">
  <div class="c-message__content">
    <div class="o-media">
      <div class="c-message__avatar o-media__figure o-media__figure--pad-right">
        <figure class="c-avatar c-avatar--md" data-initials="BM">
          <span class="c-avatar__fig-wrapper">
            <img class="c-avatar__pic" src="http://fillmurray.com/200/300" alt="" />
          </span>
          <span class="c-avatar__status c-avatar__status--online"></span>
        </figure>
      </div>
      <div class="o-media__content">
        Venmo distillery offal lomo, dreamcatcher typewriter tofu next level. Hashtag squid wayfarers you probably haven't heard of them next level ugh. Mixtape lumbersexual cliche drinking vinegar listicle, pug schlitz pinterest actually four dollar toast church-key man braid you probably haven't heard of them pickled bushwick. Scenester keytar fingerstache tattooed, aesthetic ugh seitan before they sold out poutine tacos trust fund vinyl.
      </div>
    </div>
  </div>
  <ul class="c-message__attachments o-list-bare o-list-inline">
    <li class="c-message__attachment">
      <div class="c-card c-card--full c-card--padded-sm">
        I am a card.
      </div>
    </li>
    <li class="c-message__attachment">
      <div class="c-card c-card--full c-card--padded-sm">
        I am a card.
      </div>
    </li>
    <li class="c-message__attachment">
      <div class="c-card c-card--full c-card--padded-sm">
        I am a card.
      </div>
    </li>
  </ul>
</div>

<div class="c-message">
  <div class="c-message__content">
    <div class="o-media">
      <div class="c-message__avatar o-media__figure o-media__figure--pad-right">
        <figure class="c-avatar c-avatar--md" data-initials="BM">
          <span class="c-avatar__fig-wrapper">
            <img class="c-avatar__pic" src="http://fillmurray.com/200/300" alt="" />
          </span>
          <span class="c-avatar__status c-avatar__status--online"></span>
        </figure>
      </div>
      <div class="o-media__content">
        Venmo distillery offal lomo, dreamcatcher typewriter tofu next level. Hashtag squid wayfarers you probably haven't heard of them next level ugh. Mixtape lumbersexual cliche drinking vinegar listicle, pug schlitz pinterest actually four dollar toast church-key man braid you probably haven't heard of them pickled bushwick. Scenester keytar fingerstache tattooed, aesthetic ugh seitan before they sold out poutine tacos trust fund vinyl.
      </div>
    </div>
  </div>
</div>

<hr>

<div class="c-message">
  <div class="c-message__content">
    <div class="o-media">
      <div class="c-message__avatar o-media__figure o-media__figure--pad-right">
        <figure class="c-avatar c-avatar--md" data-initials="BM">
          <span class="c-avatar__fig-wrapper">
            <img class="c-avatar__pic" src="http://fillmurray.com/200/300" alt="" />
          </span>
          <span class="c-avatar__status c-avatar__status--online"></span>
        </figure>
      </div>
      <div class="o-media__content">
        Venmo distillery offal lomo, dreamcatcher typewriter tofu next level. Hashtag squid wayfarers you probably haven't heard of them next level ugh. Mixtape lumbersexual cliche drinking vinegar listicle, pug schlitz pinterest actually four dollar toast church-key man braid you probably haven't heard of them pickled bushwick. Scenester keytar fingerstache tattooed, aesthetic ugh seitan before they sold out poutine tacos trust fund vinyl.
      </div>
    </div>
  </div>
</div>

<div class="c-message c-message--grouped">
  <div class="c-message__content">
    <div class="o-media">
      <div class="c-message__avatar o-media__figure o-media__figure--pad-right">
        <figure class="c-avatar c-avatar--md" data-initials="BM">
          <span class="c-avatar__fig-wrapper">
            <img class="c-avatar__pic" src="http://fillmurray.com/200/300" alt="" />
          </span>
          <span class="c-avatar__status c-avatar__status--online"></span>
        </figure>
      </div>
      <div class="o-media__content">
        Venmo distillery offal lomo, dreamcatcher typewriter tofu next level. Hashtag squid wayfarers you probably haven't heard of them next level ugh. Mixtape lumbersexual cliche drinking vinegar listicle, pug schlitz pinterest actually four dollar toast church-key man braid you probably haven't heard of them pickled bushwick. Scenester keytar fingerstache tattooed, aesthetic ugh seitan before they sold out poutine tacos trust fund vinyl.
      </div>
    </div>
  </div>
  <ul class="c-message__attachments o-list-bare o-list-inline">
    <li class="c-message__attachment">
      <div class="c-card c-card--full c-card--padded-sm">
        I am a card.
      </div>
    </li>
    <li class="c-message__attachment">
      <div class="c-card c-card--full c-card--padded-sm">
        I am a card.
      </div>
    </li>
    <li class="c-message__attachment">
      <div class="c-card c-card--full c-card--padded-sm">
        I am a card.
      </div>
    </li>
  </ul>
</div>
