<div class="c-navigation-pane">

  <ul class="o-list-bare">
    <li class="c-navigation-pane__item o-media o-media--align-center a-border--rounded a-space--sm-p a-cursor--pointer">
      <div class="o-media__figure">
        <figure class="c-avatar c-avatar--border" data-initials="CS">
          <span class="c-avatar__status c-avatar__status--online"></span>
        </figure>
      </div>
      <div class="o-media__content a-space--sm-pl">
        <p class="a-color--darker">Christopher</p>
        <p class="a-color--dark">Tutor</p>
      </div>
      <div class="o-media__figure">
        <div class="c-badge c-badge--rounded a-type--bold">8</div>
      </div>
    </li>
    <li class="c-navigation-pane__item o-media o-media--align-center a-border--rounded a-space--sm-p a-cursor--pointer">
      <div class="o-media__figure">
        <figure class="c-avatar c-avatar--border" data-initials="CS">
          <span class="c-avatar__status c-avatar__status--online"></span>
        </figure>
      </div>
      <div class="o-media__content a-space--sm-pl">
        <p class="a-color--darker">Christopher</p>
        <p class="a-color--dark">Tutor</p>
      </div>
      <div class="o-media__figure">
        <div class="c-badge c-badge--rounded a-type--bold">8</div>
      </div>
    </li>
    <li class="c-navigation-pane__item o-media o-media--align-center a-border--rounded a-space--sm-p a-cursor--pointer">
      <div class="o-media__figure">
        <figure class="c-avatar c-avatar--border" data-initials="CS">
          <span class="c-avatar__status c-avatar__status--online"></span>
        </figure>
      </div>
      <div class="o-media__content a-space--sm-pl">
        <p class="a-color--darker">Christopher</p>
        <p class="a-color--dark">Tutor</p>
      </div>
      <svg class="o-media__figure o-icon a-fill--dark">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../scss/_meta/icons.svg#ic_search"></use>
      </svg>
    </li>
  </ul>

</div>
