<div class="c-sidebar-pane">

  <div class="c-header c-header--transparent">
    <div class="c-header__left">
      <svg class="c-btn__icon o-icon a-fill--dark">
        <use xlink:href="../scss/_meta/icons.svg#ic_search"/>
      </svg>
    </div>
    <div class="c-header__center"></div>
    <div class="c-header__right">
      <svg class="c-btn__icon o-icon o-icon--xs a-fill--dark">
        <use xlink:href="../scss/_meta/icons.svg#close"/>
      </svg>
    </div>
  </div>

  <div class="c-sidebar-pane__body">
    <p class="a-space--sm-p">Sidebar pane body.</p>
  </div>

</div>

<hr>

<div class="c-sidebar-pane t-light">

  <div class="c-header c-header--transparent">
    <div class="c-header__left">
      <svg class="c-btn__icon o-icon a-fill--dark">
        <use xlink:href="../scss/_meta/icons.svg#ic_search"/>
      </svg>
    </div>
    <div class="c-header__center"></div>
    <div class="c-header__right">
      <svg class="c-btn__icon o-icon o-icon--xs a-fill--dark">
        <use xlink:href="../scss/_meta/icons.svg#close"/>
      </svg>
    </div>
  </div>

  <div class="c-sidebar-pane__body">
    <p class="a-space--sm-p">Sidebar pane body.</p>
  </div>

</div>
