<table class="c-table c-table--bordered c-table--striped">
  <thead class="c-table__header">
    <tr>
      <th>Table header 1</th>
      <th>Table header 2</th>
      <th>Table header 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table cell 1</td>
      <td>Table cell 2</td>
      <td>Table cell 3</td>
    </tr>
    <tr>
      <td>Table cell 1</td>
      <td>Table cell 2</td>
      <td>Table cell 3</td>
    </tr>
    <tr>
      <td>Table cell 1</td>
      <td>Table cell 2</td>
      <td>Table cell 3</td>
    </tr>
    <tr>
      <td>Table cell 1</td>
      <td>Table cell 2</td>
      <td>Table cell 3</td>
    </tr>
    <tr>
      <td>Table cell 1</td>
      <td>Table cell 2</td>
      <td>Table cell 3</td>
    </tr>
  </tbody>
</table>
