<div class="c-viewport-overlay c-viewport-overlay--light">

  <div class="c-header">
    <div class="c-header__left">
      <img src="http://fillmurray.com/24/24" class="a-img-rounded" alt=""/>
    </div>
    <div class="c-header__center">I am a header</div>
    <div class="c-header__right">
      <svg class="c-token__action o-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../scss/_meta/icons.svg#ic_close_24px"></use>
      </svg>
    </div>
  </div>

  I am an overlay.
</div>

<!-- This is example content. -->
<span>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam esse ab porro maxime fugit, deleniti? Ex porro nisi, ducimus facilis repellendus? Saepe fugiat animi ad quo, assumenda vitae voluptas fugit!
</span>
<img src="http://fillmurray.com/600/600"/>
