// Viewport overlay
//
// Namespace: `c-viewport-overlay`
//
// An overlay that always fills the whole viewport. Can contain any markup.
//
// Modifiers
// - `--fill-device` - Fills the entire screen
// - `--light` - Gives a light background
// - `--dark` - Gives a darker background
// - `--center-content` - Centers all content as much as is possible
//
// Markup: _viewport-overlay.html
//
// Styleguide: Components.viewport-overlay
.c-viewport-overlay {
  @include absolute(0, 0, 0, 0);
  background-color: get-color('white');
  position: fixed;
  z-index: z-index('viewport-overlay');

  &--fill-device {
    height: 100vh;
    width: 100vw;
  }

  &--center-content {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &--light {
    background-color: get-color('lightest', .9);
  }

  &--dark {
    background-color: get-color('darkest', .5);
  }

  &__close {
    position: absolute;
    right: rem(10);
    top: rem(10);

    + * {
      @include space(xl, outer, top, null, rem);
    }

  }

}
