/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

html {
  box-sizing: border-box;
  height: 100%; }

body {
  height: 100%; }

* {
  box-sizing: inherit; }
  *::after, *::before {
    box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

ul,
li {
  margin: 0;
  padding: 0; }

table,
th,
td {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

img,
canvas,
iframe,
video,
svg {
  max-width: 100%; }

.o-grid {
  margin-left: 0.71429rem;
  margin-right: 0.71429rem; }
  .o-grid__row {
    margin-right: -.5rem;
    margin-left: -.5rem;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap; }
    .o-grid__row--gutterless {
      margin-left: 0;
      margin-right: 0; }
    .o-grid__row--reverse {
      flex-direction: row-reverse; }
      @media (min-width: 10em) {
        .o-grid__row--reverse-xs {
          flex-direction: row-reverse; } }
      @media (min-width: 20em) {
        .o-grid__row--reverse-sm {
          flex-direction: row-reverse; } }
      @media (min-width: 30em) {
        .o-grid__row--reverse-md {
          flex-direction: row-reverse; } }
      @media (min-width: 48em) {
        .o-grid__row--reverse-lg {
          flex-direction: row-reverse; } }
      @media (min-width: 70em) {
        .o-grid__row--reverse-xl {
          flex-direction: row-reverse; } }
    .o-grid__row .o-grid__row {
      margin-left: 0;
      margin-right: 0; }
  .o-grid__item {
    padding-left: 0.35714rem;
    padding-right: 0.35714rem;
    box-sizing: border-box;
    flex: 1; }
    .o-grid__item--gutterless {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  @media (min-width: 10em) {
    .o-grid--non-fluid {
      max-width: 10em;
      margin: auto; }
    .o-grid__item--xs-1 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .o-grid__item--xs-push-1 {
      margin-left: 8.33333%; }
    .o-grid__item--xs-2 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .o-grid__item--xs-push-2 {
      margin-left: 16.66667%; }
    .o-grid__item--xs-3 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 25%;
      max-width: 25%; }
    .o-grid__item--xs-push-3 {
      margin-left: 25%; }
    .o-grid__item--xs-4 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .o-grid__item--xs-push-4 {
      margin-left: 33.33333%; }
    .o-grid__item--xs-5 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .o-grid__item--xs-push-5 {
      margin-left: 41.66667%; }
    .o-grid__item--xs-6 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 50%;
      max-width: 50%; }
    .o-grid__item--xs-push-6 {
      margin-left: 50%; }
    .o-grid__item--xs-7 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .o-grid__item--xs-push-7 {
      margin-left: 58.33333%; }
    .o-grid__item--xs-8 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .o-grid__item--xs-push-8 {
      margin-left: 66.66667%; }
    .o-grid__item--xs-9 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 75%;
      max-width: 75%; }
    .o-grid__item--xs-push-9 {
      margin-left: 75%; }
    .o-grid__item--xs-10 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .o-grid__item--xs-push-10 {
      margin-left: 83.33333%; }
    .o-grid__item--xs-11 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .o-grid__item--xs-push-11 {
      margin-left: 91.66667%; }
    .o-grid__item--xs-12 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 100%;
      max-width: 100%; }
    .o-grid__item--xs-push-12 {
      margin-left: 100%; } }
  @media (min-width: 20em) {
    .o-grid--non-fluid {
      max-width: 20em;
      margin: auto; }
    .o-grid__item--sm-1 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .o-grid__item--sm-push-1 {
      margin-left: 8.33333%; }
    .o-grid__item--sm-2 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .o-grid__item--sm-push-2 {
      margin-left: 16.66667%; }
    .o-grid__item--sm-3 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 25%;
      max-width: 25%; }
    .o-grid__item--sm-push-3 {
      margin-left: 25%; }
    .o-grid__item--sm-4 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .o-grid__item--sm-push-4 {
      margin-left: 33.33333%; }
    .o-grid__item--sm-5 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .o-grid__item--sm-push-5 {
      margin-left: 41.66667%; }
    .o-grid__item--sm-6 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 50%;
      max-width: 50%; }
    .o-grid__item--sm-push-6 {
      margin-left: 50%; }
    .o-grid__item--sm-7 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .o-grid__item--sm-push-7 {
      margin-left: 58.33333%; }
    .o-grid__item--sm-8 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .o-grid__item--sm-push-8 {
      margin-left: 66.66667%; }
    .o-grid__item--sm-9 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 75%;
      max-width: 75%; }
    .o-grid__item--sm-push-9 {
      margin-left: 75%; }
    .o-grid__item--sm-10 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .o-grid__item--sm-push-10 {
      margin-left: 83.33333%; }
    .o-grid__item--sm-11 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .o-grid__item--sm-push-11 {
      margin-left: 91.66667%; }
    .o-grid__item--sm-12 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 100%;
      max-width: 100%; }
    .o-grid__item--sm-push-12 {
      margin-left: 100%; } }
  @media (min-width: 30em) {
    .o-grid--non-fluid {
      max-width: 30em;
      margin: auto; }
    .o-grid__item--md-1 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .o-grid__item--md-push-1 {
      margin-left: 8.33333%; }
    .o-grid__item--md-2 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .o-grid__item--md-push-2 {
      margin-left: 16.66667%; }
    .o-grid__item--md-3 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 25%;
      max-width: 25%; }
    .o-grid__item--md-push-3 {
      margin-left: 25%; }
    .o-grid__item--md-4 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .o-grid__item--md-push-4 {
      margin-left: 33.33333%; }
    .o-grid__item--md-5 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .o-grid__item--md-push-5 {
      margin-left: 41.66667%; }
    .o-grid__item--md-6 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 50%;
      max-width: 50%; }
    .o-grid__item--md-push-6 {
      margin-left: 50%; }
    .o-grid__item--md-7 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .o-grid__item--md-push-7 {
      margin-left: 58.33333%; }
    .o-grid__item--md-8 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .o-grid__item--md-push-8 {
      margin-left: 66.66667%; }
    .o-grid__item--md-9 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 75%;
      max-width: 75%; }
    .o-grid__item--md-push-9 {
      margin-left: 75%; }
    .o-grid__item--md-10 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .o-grid__item--md-push-10 {
      margin-left: 83.33333%; }
    .o-grid__item--md-11 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .o-grid__item--md-push-11 {
      margin-left: 91.66667%; }
    .o-grid__item--md-12 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 100%;
      max-width: 100%; }
    .o-grid__item--md-push-12 {
      margin-left: 100%; } }
  @media (min-width: 48em) {
    .o-grid--non-fluid {
      max-width: 48em;
      margin: auto; }
    .o-grid__item--lg-1 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .o-grid__item--lg-push-1 {
      margin-left: 8.33333%; }
    .o-grid__item--lg-2 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .o-grid__item--lg-push-2 {
      margin-left: 16.66667%; }
    .o-grid__item--lg-3 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 25%;
      max-width: 25%; }
    .o-grid__item--lg-push-3 {
      margin-left: 25%; }
    .o-grid__item--lg-4 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .o-grid__item--lg-push-4 {
      margin-left: 33.33333%; }
    .o-grid__item--lg-5 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .o-grid__item--lg-push-5 {
      margin-left: 41.66667%; }
    .o-grid__item--lg-6 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 50%;
      max-width: 50%; }
    .o-grid__item--lg-push-6 {
      margin-left: 50%; }
    .o-grid__item--lg-7 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .o-grid__item--lg-push-7 {
      margin-left: 58.33333%; }
    .o-grid__item--lg-8 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .o-grid__item--lg-push-8 {
      margin-left: 66.66667%; }
    .o-grid__item--lg-9 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 75%;
      max-width: 75%; }
    .o-grid__item--lg-push-9 {
      margin-left: 75%; }
    .o-grid__item--lg-10 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .o-grid__item--lg-push-10 {
      margin-left: 83.33333%; }
    .o-grid__item--lg-11 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .o-grid__item--lg-push-11 {
      margin-left: 91.66667%; }
    .o-grid__item--lg-12 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 100%;
      max-width: 100%; }
    .o-grid__item--lg-push-12 {
      margin-left: 100%; } }
  @media (min-width: 70em) {
    .o-grid--non-fluid {
      max-width: 70em;
      margin: auto; }
    .o-grid__item--xl-1 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 8.33333%;
      max-width: 8.33333%; }
    .o-grid__item--xl-push-1 {
      margin-left: 8.33333%; }
    .o-grid__item--xl-2 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 16.66667%;
      max-width: 16.66667%; }
    .o-grid__item--xl-push-2 {
      margin-left: 16.66667%; }
    .o-grid__item--xl-3 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 25%;
      max-width: 25%; }
    .o-grid__item--xl-push-3 {
      margin-left: 25%; }
    .o-grid__item--xl-4 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 33.33333%;
      max-width: 33.33333%; }
    .o-grid__item--xl-push-4 {
      margin-left: 33.33333%; }
    .o-grid__item--xl-5 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 41.66667%;
      max-width: 41.66667%; }
    .o-grid__item--xl-push-5 {
      margin-left: 41.66667%; }
    .o-grid__item--xl-6 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 50%;
      max-width: 50%; }
    .o-grid__item--xl-push-6 {
      margin-left: 50%; }
    .o-grid__item--xl-7 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 58.33333%;
      max-width: 58.33333%; }
    .o-grid__item--xl-push-7 {
      margin-left: 58.33333%; }
    .o-grid__item--xl-8 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 66.66667%;
      max-width: 66.66667%; }
    .o-grid__item--xl-push-8 {
      margin-left: 66.66667%; }
    .o-grid__item--xl-9 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 75%;
      max-width: 75%; }
    .o-grid__item--xl-push-9 {
      margin-left: 75%; }
    .o-grid__item--xl-10 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 83.33333%;
      max-width: 83.33333%; }
    .o-grid__item--xl-push-10 {
      margin-left: 83.33333%; }
    .o-grid__item--xl-11 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 91.66667%;
      max-width: 91.66667%; }
    .o-grid__item--xl-push-11 {
      margin-left: 91.66667%; }
    .o-grid__item--xl-12 {
      padding-left: 0.35714rem;
      padding-right: 0.35714rem;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-basis: 100%;
      max-width: 100%; }
    .o-grid__item--xl-push-12 {
      margin-left: 100%; } }

hr {
  margin-top: 0.71429rem;
  margin-bottom: 0.71429rem;
  border: 0;
  border-bottom: #e4eaf1 1px solid; }

a {
  color: #439be5;
  text-decoration: none; }

.a-display--block {
  display: block; }

.a-display--inline-block {
  display: inline-block; }

.a-display--inline {
  display: inline; }

.a-cursor--pointer {
  cursor: pointer; }

.a-cursor--disabled {
  cursor: not-allowed; }

.a-color--brand {
  color: #7443bf; }

.a-color--primary {
  color: #439be5; }

.a-color--lightest {
  color: #f9fbfd; }

.a-color--lighter {
  color: #f2f6f9; }

.a-color--light {
  color: #e4eaf1; }

.a-color--dark {
  color: #a4adb5; }

.a-color--darker {
  color: #5a646f; }

.a-color--darkest {
  color: #3d4752; }

.a-color--positive {
  color: #29d1a6; }

.a-color--attention {
  color: #ecbd0b; }

.a-color--negative {
  color: #f1575f; }

.a-color--white {
  color: #ffffff; }

.a-bg--brand {
  background-color: #7443bf; }

.a-bg--primary {
  background-color: #439be5; }

.a-bg--lightest {
  background-color: #f9fbfd; }

.a-bg--lighter {
  background-color: #f2f6f9; }

.a-bg--light {
  background-color: #e4eaf1; }

.a-bg--dark {
  background-color: #a4adb5; }

.a-bg--darker {
  background-color: #5a646f; }

.a-bg--darkest {
  background-color: #3d4752; }

.a-bg--positive {
  background-color: #29d1a6; }

.a-bg--attention {
  background-color: #ecbd0b; }

.a-bg--negative {
  background-color: #f1575f; }

.a-bg--white {
  background-color: #ffffff; }

.a-border--all {
  border: 1px solid; }

.a-border--t {
  border-top: 1px solid; }

.a-border--r {
  border-right: 1px solid; }

.a-border--b {
  border-bottom: 1px solid; }

.a-border--l {
  border-left: 1px solid; }

.a-border--brand {
  border-color: #7443bf; }

.a-border--primary {
  border-color: #439be5; }

.a-border--lightest {
  border-color: #f9fbfd; }

.a-border--lighter {
  border-color: #f2f6f9; }

.a-border--light {
  border-color: #e4eaf1; }

.a-border--dark {
  border-color: #a4adb5; }

.a-border--darker {
  border-color: #5a646f; }

.a-border--darkest {
  border-color: #3d4752; }

.a-border--positive {
  border-color: #29d1a6; }

.a-border--attention {
  border-color: #ecbd0b; }

.a-border--negative {
  border-color: #f1575f; }

.a-border--white {
  border-color: #ffffff; }

.a-border--rounded {
  border-radius: 4px; }

.a-fill--brand {
  fill: #7443bf; }

.a-fill--primary {
  fill: #439be5; }

.a-fill--lightest {
  fill: #f9fbfd; }

.a-fill--lighter {
  fill: #f2f6f9; }

.a-fill--light {
  fill: #e4eaf1; }

.a-fill--dark {
  fill: #a4adb5; }

.a-fill--darker {
  fill: #5a646f; }

.a-fill--darkest {
  fill: #3d4752; }

.a-fill--positive {
  fill: #29d1a6; }

.a-fill--attention {
  fill: #ecbd0b; }

.a-fill--negative {
  fill: #f1575f; }

.a-fill--white {
  fill: #ffffff; }

.a-img-circular {
  border-radius: 50%; }

.a-img-rounded {
  border-radius: 4px; }

.a-box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(61, 71, 82, 0.1); }

.a-float--left {
  float: left; }

.a-float--right {
  float: right; }

.a-clearfix::after {
  clear: both;
  content: '';
  display: block; }

.a-type--bold {
  font-weight: 600; }

.a-type--light {
  font-weight: 300; }

.a-type--italic {
  font-style: italic; }

.a-type--align-left {
  text-align: left; }

.a-type--align-right {
  text-align: right; }

.a-type--align-center {
  text-align: center; }

.a-type--font-inherit {
  font-family: inherit; }

.a-type--size-inherit {
  font-size: inherit; }

.a-type--color-inherit {
  color: inherit; }

.a-type--decoration-none {
  text-decoration: none; }

.a-heading--1 {
  font-size: 3.42857rem;
  font-weight: 400;
  line-height: 4.57143rem; }

.a-heading--2 {
  font-size: 2.57143rem;
  font-weight: 400;
  line-height: 3.42857rem; }

.a-heading--3 {
  font-size: 1.71429rem;
  font-weight: 400;
  line-height: 2.57143rem; }

.a-heading--4 {
  font-size: 1.28571rem;
  font-weight: 400;
  line-height: 1.71429rem; }

.a-heading--5 {
  font-size: 1.14286rem;
  font-weight: 400;
  line-height: 1.57143rem; }

.a-heading--6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.42857rem; }

.a-heading__sub {
  margin-top: 0.71429rem; }

.a-space--xs-m {
  margin: 0.35714rem; }

.a-space--xs-m-x {
  margin-left: 0.35714rem;
  margin-right: 0.35714rem; }

.a-space--xs-m-y {
  margin-top: 0.35714rem;
  margin-bottom: 0.35714rem; }

.a-space--xs-mt {
  margin-top: 0.35714rem; }

.a-space--xs-mb {
  margin-bottom: 0.35714rem; }

.a-space--xs-ml {
  margin-left: 0.35714rem; }

.a-space--xs-mr {
  margin-right: 0.35714rem; }

.a-space--xs-p {
  padding: 0.35714rem; }

.a-space--xs-p-x {
  padding-left: 0.35714rem;
  padding-right: 0.35714rem; }

.a-space--xs-p-y {
  padding-top: 0.35714rem;
  padding-bottom: 0.35714rem; }

.a-space--xs-pt {
  padding-top: 0.35714rem; }

.a-space--xs-pb {
  padding-bottom: 0.35714rem; }

.a-space--xs-pl {
  padding-left: 0.35714rem; }

.a-space--xs-pr {
  padding-right: 0.35714rem; }

.a-space--sm-m {
  margin: 0.71429rem; }

.a-space--sm-m-x {
  margin-left: 0.71429rem;
  margin-right: 0.71429rem; }

.a-space--sm-m-y {
  margin-top: 0.71429rem;
  margin-bottom: 0.71429rem; }

.a-space--sm-mt {
  margin-top: 0.71429rem; }

.a-space--sm-mb {
  margin-bottom: 0.71429rem; }

.a-space--sm-ml {
  margin-left: 0.71429rem; }

.a-space--sm-mr {
  margin-right: 0.71429rem; }

.a-space--sm-p {
  padding: 0.71429rem; }

.a-space--sm-p-x {
  padding-left: 0.71429rem;
  padding-right: 0.71429rem; }

.a-space--sm-p-y {
  padding-top: 0.71429rem;
  padding-bottom: 0.71429rem; }

.a-space--sm-pt {
  padding-top: 0.71429rem; }

.a-space--sm-pb {
  padding-bottom: 0.71429rem; }

.a-space--sm-pl {
  padding-left: 0.71429rem; }

.a-space--sm-pr {
  padding-right: 0.71429rem; }

.a-space--md-m {
  margin: 1.42857rem; }

.a-space--md-m-x {
  margin-left: 1.42857rem;
  margin-right: 1.42857rem; }

.a-space--md-m-y {
  margin-top: 1.42857rem;
  margin-bottom: 1.42857rem; }

.a-space--md-mt {
  margin-top: 1.42857rem; }

.a-space--md-mb {
  margin-bottom: 1.42857rem; }

.a-space--md-ml {
  margin-left: 1.42857rem; }

.a-space--md-mr {
  margin-right: 1.42857rem; }

.a-space--md-p {
  padding: 1.42857rem; }

.a-space--md-p-x {
  padding-left: 1.42857rem;
  padding-right: 1.42857rem; }

.a-space--md-p-y {
  padding-top: 1.42857rem;
  padding-bottom: 1.42857rem; }

.a-space--md-pt {
  padding-top: 1.42857rem; }

.a-space--md-pb {
  padding-bottom: 1.42857rem; }

.a-space--md-pl {
  padding-left: 1.42857rem; }

.a-space--md-pr {
  padding-right: 1.42857rem; }

.a-space--lg-m {
  margin: 2.85714rem; }

.a-space--lg-m-x {
  margin-left: 2.85714rem;
  margin-right: 2.85714rem; }

.a-space--lg-m-y {
  margin-top: 2.85714rem;
  margin-bottom: 2.85714rem; }

.a-space--lg-mt {
  margin-top: 2.85714rem; }

.a-space--lg-mb {
  margin-bottom: 2.85714rem; }

.a-space--lg-ml {
  margin-left: 2.85714rem; }

.a-space--lg-mr {
  margin-right: 2.85714rem; }

.a-space--lg-p {
  padding: 2.85714rem; }

.a-space--lg-p-x {
  padding-left: 2.85714rem;
  padding-right: 2.85714rem; }

.a-space--lg-p-y {
  padding-top: 2.85714rem;
  padding-bottom: 2.85714rem; }

.a-space--lg-pt {
  padding-top: 2.85714rem; }

.a-space--lg-pb {
  padding-bottom: 2.85714rem; }

.a-space--lg-pl {
  padding-left: 2.85714rem; }

.a-space--lg-pr {
  padding-right: 2.85714rem; }

.a-space--xl-m {
  margin: 5.71429rem; }

.a-space--xl-m-x {
  margin-left: 5.71429rem;
  margin-right: 5.71429rem; }

.a-space--xl-m-y {
  margin-top: 5.71429rem;
  margin-bottom: 5.71429rem; }

.a-space--xl-mt {
  margin-top: 5.71429rem; }

.a-space--xl-mb {
  margin-bottom: 5.71429rem; }

.a-space--xl-ml {
  margin-left: 5.71429rem; }

.a-space--xl-mr {
  margin-right: 5.71429rem; }

.a-space--xl-p {
  padding: 5.71429rem; }

.a-space--xl-p-x {
  padding-left: 5.71429rem;
  padding-right: 5.71429rem; }

.a-space--xl-p-y {
  padding-top: 5.71429rem;
  padding-bottom: 5.71429rem; }

.a-space--xl-pt {
  padding-top: 5.71429rem; }

.a-space--xl-pb {
  padding-bottom: 5.71429rem; }

.a-space--xl-pl {
  padding-left: 5.71429rem; }

.a-space--xl-pr {
  padding-right: 5.71429rem; }

.a-position--absolute {
  position: absolute; }

.a-position--fixed {
  position: fixed; }

.a-position--relative {
  position: relative; }

.o-icon {
  height: 1.71429em;
  width: 1.71429em;
  vertical-align: middle; }
  .o-icon--xs {
    height: 1.14286em;
    width: 1.14286em; }
  .o-icon--md {
    height: 2.28571em;
    width: 2.28571em; }
  .o-icon--lg {
    height: 3.42857em;
    width: 3.42857em; }
  .o-icon--xl {
    height: 4.57143em;
    width: 4.57143em; }

.o-media {
  display: flex; }
  .o-media--align-center {
    align-items: center; }
  .o-media--reverse {
    flex-direction: row-reverse; }
  .o-media__figure--pad-right {
    margin-right: 0.71429rem; }
  .o-media__figure--pad-left {
    margin-left: 0.71429rem; }
  .o-media__content {
    flex: 1; }

.o-list-inline > li {
  display: inline-block; }

.o-list-inline--scrollable {
  overflow-x: auto;
  white-space: nowrap; }

.o-list-inline--equal-fill {
  display: flex;
  justify-content: space-around; }
  .o-list-inline--equal-fill > li {
    flex: 1; }

.o-list-bare {
  list-style: none; }

.c-avatar {
  height: 3.42857em;
  width: 3.42857em;
  border-radius: 48em;
  margin: 0;
  position: relative; }
  .c-avatar::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: attr(data-initials);
    font-weight: bold; }
  .c-avatar--sm {
    height: 2.28571em;
    width: 2.28571em; }
  .c-avatar--lg {
    height: 4.57143em;
    width: 4.57143em; }
  .c-avatar--xl {
    height: 9.14286em;
    width: 9.14286em; }
  .c-avatar--border {
    border: 2px solid currentColor; }
  .c-avatar__fig-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    overflow: hidden; }
  .c-avatar__pic {
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }
    .c-avatar__pic--outline {
      outline: 2px solid currentColor; }
      .c-avatar__pic--outline:nth-child(1) {
        z-index: 4; }
      .c-avatar__pic--outline:nth-child(2) {
        z-index: 3; }
      .c-avatar__pic--outline:nth-child(3) {
        z-index: 2; }
      .c-avatar__pic--outline:nth-child(4) {
        z-index: 1; }
    .c-avatar__pic--half {
      height: 100%;
      width: 50%; }
    .c-avatar__pic--quarter {
      height: 50%;
      width: 50%; }
    .c-avatar__pic--left {
      bottom: 0;
      left: 0;
      right: 50%;
      top: 0; }
    .c-avatar__pic--right {
      bottom: 0;
      left: 50%;
      right: 0;
      top: 0; }
    .c-avatar__pic--top-left {
      bottom: 50%;
      left: 0;
      right: 50%;
      top: 0; }
    .c-avatar__pic--top-right {
      bottom: 50%;
      left: 50%;
      right: 0;
      top: 0; }
    .c-avatar__pic--bottom-right {
      bottom: 0;
      left: 50%;
      right: 0;
      top: 50%; }
    .c-avatar__pic--bottom-left {
      bottom: 0;
      left: 0;
      right: 50%;
      top: 50%; }
  .c-avatar__status {
    background: currentColor;
    border-radius: 50%;
    bottom: 0;
    display: block;
    height: 25%;
    position: absolute;
    right: 0;
    width: 25%;
    z-index: 20; }
    .c-avatar__status--online {
      background: #29d1a6; }
    .c-avatar__status--away {
      background: #ecbd0b; }
    .c-avatar__status--busy {
      background: #f1575f; }
    .c-avatar__status--bordered {
      border: 2px solid currentColor; }
  .c-avatar__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10; }
    .c-avatar__overlay--inner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

.c-avatar-group {
  display: flex; }
  .c-avatar-group .c-avatar + .c-avatar {
    margin-left: -2em; }

.c-tab-nav {
  border-bottom: 2px solid #e4eaf1; }
  .c-tab-nav__list {
    margin-bottom: -2px; }
  .c-tab-nav li {
    padding-left: 1.42857em;
    padding-right: 1.42857em;
    padding-top: 0.71429em;
    padding-bottom: 0.71429em;
    border-bottom: 2px solid #e4eaf1; }
    .c-tab-nav li:hover, .c-tab-nav li.is-active {
      border-bottom-color: #7443bf;
      color: #7443bf;
      cursor: pointer; }
    .c-tab-nav li + li {
      margin-left: 0.71429em; }

.c-btn {
  padding-left: 0.71429rem;
  padding-right: 0.71429rem;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 3em;
  line-height: 3em;
  overflow: visible;
  position: relative;
  text-align: center;
  vertical-align: middle; }
  .c-btn--primary {
    background-color: #439be5;
    color: white; }
  .c-btn--secondary {
    background-color: white;
    border: 1px solid #e4eaf1;
    color: #5a646f; }
  .c-btn--disabled, .c-btn[disabled] {
    background-color: #e4eaf1;
    color: #a4adb5; }
  .c-btn--rounded {
    border-radius: 10em; }
  .c-btn--full {
    width: 100%; }
  .c-btn__icon {
    display: inline-block;
    vertical-align: inherit; }
    .c-btn__icon--left {
      margin-right: 0.35714rem;
      float: left;
      height: inherit; }
    .c-btn__icon--right {
      margin-left: 0.35714rem;
      float: right;
      height: inherit; }

.c-btn-group {
  display: flex; }
  .c-btn-group > .c-btn {
    border-radius: 0;
    margin-left: -1px; }
  .c-btn-group :first-child {
    border-radius: 4px 0 0 4px;
    margin-left: 0; }
  .c-btn-group :last-child {
    border-radius: 0 4px 4px 0; }
  .c-btn-group--fill {
    justify-content: space-around; }
    .c-btn-group--fill > .c-btn {
      flex: 1; }

.c-header {
  padding-left: 0.71429rem;
  padding-right: 0.71429rem;
  align-content: center;
  background: white;
  border-bottom: #e4eaf1 1px solid;
  display: flex;
  height: 3.42857em;
  justify-content: center;
  z-index: 500; }
  .c-header__left {
    align-self: center;
    display: flex;
    flex: 1;
    justify-content: flex-start; }
  .c-header__center {
    align-self: center; }
  .c-header__right {
    align-self: center;
    display: flex;
    flex: 1;
    justify-content: flex-end; }
  .c-header--transparent {
    background-color: transparent;
    border-bottom: 0; }

.c-message {
  margin-bottom: 0.71429rem; }
  .c-message--grouped .c-message__avatar {
    visibility: hidden; }
  .c-message__attachments {
    margin-top: 0.71429rem; }
    .c-message--grouped .c-message__attachments {
      margin-left: 4.14286em; }
  .c-message__attachment {
    max-width: 22.85714em;
    width: 100%; }
    @media (min-width: 30em) {
      .c-message__attachment {
        max-width: none;
        width: auto; } }
  .c-message:last-child {
    margin-bottom: 0; }

.c-card {
  background-color: white;
  border: 1px solid #e4eaf1;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(61, 71, 82, 0.1);
  display: inline-block;
  overflow: hidden; }
  .c-card--full {
    width: 100%; }
  .c-card--padded-sm {
    padding: 0.71429rem; }
  .c-card--padded-md {
    padding: 1.42857rem; }
  .c-card--padded-lg {
    padding: 2.85714rem; }

.c-viewport-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  position: fixed;
  z-index: 5000; }
  .c-viewport-overlay--fill-device {
    height: 100vh;
    width: 100vw; }
  .c-viewport-overlay--center-content {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center; }
  .c-viewport-overlay--light {
    background-color: rgba(249, 251, 253, 0.9); }
  .c-viewport-overlay--dark {
    background-color: rgba(61, 71, 82, 0.5); }
  .c-viewport-overlay__close {
    position: absolute;
    right: 0.71429rem;
    top: 0.71429rem; }
    .c-viewport-overlay__close + * {
      margin-top: 5.71429rem; }

.c-toast {
  padding: 1.42857em;
  background: #3d4752;
  margin: 0 auto;
  max-width: 42.85714rem; }
  .c-toast__message {
    color: white; }
  .c-toast__action {
    color: #439be5;
    cursor: pointer;
    font-weight: bold; }
  .c-toast--fixed {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 7500; }
  .c-toast--top {
    top: 0; }
  .c-toast--bottom {
    bottom: 0; }

.c-input {
  padding-left: 0.71429rem;
  padding-right: 0.71429rem;
  border: 1px solid #e4eaf1;
  border-radius: 4px;
  color: #5a646f;
  display: block;
  height: 3em; }
  .c-input:hover {
    border-color: #a4adb5;
    outline: 0; }
  .c-input:focus {
    border-color: #439be5;
    outline: 0; }
  .c-input--full {
    width: 100%; }
  .c-input.has-error {
    border-color: currentColor;
    color: #f1575f; }
  .c-input.has-attention {
    border-color: currentColor;
    color: #ecbd0b; }
  .c-input.is-valid {
    border-color: #29d1a6; }

.c-input-label {
  color: #5a646f;
  display: block; }
  .c-input-label > .c-input {
    margin-top: 0.35714em; }
  .c-input-label--inline {
    align-items: center;
    display: flex; }
    .c-input-label--inline > .c-input {
      margin-left: 0.35714em;
      margin-top: 0; }

.c-input-dropdown {
  display: inline-block;
  position: relative; }
  .c-input-dropdown select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    padding-right: 2.85714em;
    background-color: white;
    color: currentColor;
    width: 100%; }
  .c-input-dropdown--fill {
    width: 100%; }
  .c-input-dropdown__arrow {
    fill: currentColor;
    position: absolute;
    right: 0.71429em;
    top: 50%;
    transform: translateY(-50%); }

.c-token {
  padding-left: 0.71429em;
  padding-right: 0.71429em;
  padding-top: 0.35714em;
  padding-bottom: 0.35714em;
  background-color: #439be5;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap; }
  .c-token > * {
    display: inherit;
    vertical-align: middle; }
  .c-token__content {
    font-size: .9em; }
  .c-token__action {
    color: currentColor;
    fill: currentColor; }

.c-modal {
  margin: 0.71429em;
  border-radius: 4px;
  box-shadow: 0 1px 12px rgba(61, 71, 82, 0.2);
  max-height: 80vh;
  max-width: 45.71429rem;
  overflow-y: auto; }
  .c-modal__row {
    padding: 0.71429em;
    background-color: white;
    overflow-y: auto; }
    .c-modal__row:first-child {
      border-radius: 4px 4px 0 0; }
    .c-modal__row:last-child {
      border-radius: 0 0 4px 4px; }
    .c-modal__row--dark {
      background-color: #3d4752;
      color: white; }

.c-badge {
  padding: 0.35714em;
  background: #f1575f;
  border-radius: 4px;
  color: white;
  font-size: .8em; }
  .c-badge--top-right {
    position: absolute;
    right: 0.71429em;
    top: 0.71429em; }
  .c-badge--rounded {
    height: 1.71429em;
    width: 1.71429em;
    border-radius: 10em;
    display: inline-block;
    text-align: center; }

.c-compose-box {
  position: relative;
  width: 100%; }
  .c-compose-box__input {
    padding: 0.71429em;
    border: 1px solid #e4eaf1;
    border-radius: 4px 4px 0 0;
    resize: none;
    width: 100%;
    height: 3em;
    color: #5a646f;
    outline: 0;
    display: block; }
  .c-compose-box__actions {
    border: 1px solid #e4eaf1;
    border-top: 0;
    height: 3em;
    border-radius: 0 0 4px 4px;
    display: flex;
    overflow-y: hidden; }
  .c-compose-box__action {
    min-width: 3em;
    height: 3em;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e4eaf1; }

.c-navigation-pane {
  max-width: 22.85714em; }
  .c-navigation-pane__item {
    border: 1px solid transparent; }
    .c-navigation-pane__item:hover {
      background: #f2f6f9;
      border-color: #e4eaf1; }

.c-sidebar-pane {
  background: #3d4752;
  color: #a4adb5;
  height: 100%;
  max-width: 22.85714em; }
  .c-sidebar-pane.t-light {
    background: white;
    box-shadow: 0 0 24px rgba(61, 71, 82, 0.2);
    color: #5a646f; }

.c-sidebar-menu__item {
  color: #a4adb5; }
  .c-sidebar-menu__item:hover {
    color: #e4eaf1; }
  .c-sidebar-menu__item--large {
    color: white; }

.c-table {
  width: 100%; }
  .c-table--striped .c-table__header tr {
    background-color: #f9fbfd; }
  .c-table--striped tr:nth-child(even) {
    background-color: #f9fbfd; }
  .c-table--bordered tr + tr {
    border-top: 1px solid #e4eaf1; }
  .c-table__header {
    border-bottom: 1px solid #e4eaf1;
    color: #5a646f; }
    .c-table__header th {
      text-align: left; }
  .c-table td,
  .c-table th {
    padding: 0.71429em; }

.i-margin-reset {
  margin: 0 !important; }
  .i-margin-reset--top {
    margin-top: 0 !important; }
  .i-margin-reset--left {
    margin-left: 0 !important; }
  .i-margin-reset--right {
    margin-right: 0 !important; }
  .i-margin-reset--bottom {
    margin-bottom: 0 !important; }
  .i-margin-reset--x {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .i-margin-reset--y {
    margin-bottom: 0 !important;
    margin-top: 0 !important; }

.i-padding-reset {
  padding: 0 !important; }
  .i-padding-reset--top {
    padding-top: 0 !important; }
  .i-padding-reset--left {
    padding-left: 0 !important; }
  .i-padding-reset--right {
    padding-right: 0 !important; }
  .i-padding-reset--bottom {
    padding-bottom: 0 !important; }
  .i-padding-reset--x {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .i-padding-reset--y {
    padding-bottom: 0 !important;
    padding-top: 0 !important; }
