// Inline list
//
// Namespace: `o-list-inline`
//
// Aligns list items horizontally. Optionally makes them scrollable.
//
// Markup: _list-inline.html
//
// Styleguide: Objects.list-inline

.o-list-inline {

  > li {
    display: inline-block;
  }

  &--scrollable {
    overflow-x: auto;
    white-space: nowrap;
  }

  &--equal-fill {
    display: flex;
    justify-content: space-around;

    > li {
      flex: 1;
    }

  }

}
