// Spacing
//
// Namespace: `a-space`
//
// Multi-directional spacing. The namespacing for this is quite complex, so
// read carefully.
//
// Modifiers:
//
// - `--[size]-[type(dir)](-[axis])` Size, margin/padding, optional x/y axis
//
//
// - Size can be `[xs, sm, md, lg, xl]`
// - Type can be `[m, p]` [margin, padding]
// - Type(dir) can be `[t, r, b, l]` [top, right, bottom, left] (Optional)
// - Axis can be `[x, y]` [x axis, y axis] (Optional)
//
//
// - `.a-space--xs-mt` would be "space extra small, margin only top"
// - `.a-space--lg-p` would be "space large, padding all"
// - `.a-space--md-p-x` would be "space medium, padding only x axis"
//
// Markup: _space.html
//
// Styleguide: Atomics.space
$_spaces: $cfg-spacing;
$_directions: ('top', 'bottom', 'left', 'right');
$_types: ('margin', 'padding');

.a-space {

  @each $size, $spacing in $_spaces {

    @each $type in $_types {
      $short-type: str-slice($type, 0, 1);

      &--#{$size}-#{$short-type} {
        #{$type}: rem($spacing);
      }

      &--#{$size}-#{$short-type}-x {
        #{$type}-left: rem($spacing);
        #{$type}-right: rem($spacing);
      }

      &--#{$size}-#{$short-type}-y {
        #{$type}-top: rem($spacing);
        #{$type}-bottom: rem($spacing);
      }

      @each $direction in $_directions {
        $short-dir: str-slice($direction, 0, 1);

        &--#{$size}-#{$short-type}#{$short-dir} {
          #{$type}-#{$direction}: rem($spacing);
        }

      }

    }

  }

}
