// size
//
// Quickly sizes an element.
//
// $width - The width of the element. If only option passed, sets both width & height.
// $height - The height of the element. `[optional]`
// $rems - If `"rem"` is passed, will output the size in rems. `[optional]`
//
// Styleguide: Mixins.size
@mixin size($width, $height: $width, $rems: '') {

  @if $rems == 'rem' {
    height: rem($height);
    width: rem($width);
  } @else {
    height: em($height);
    width: em($width);
  }

}
