// transform-align
//
// Aligns an element on its x or y axis using transforms.
//
// $axis - The axis to align. If no option is passed, aligns on both axes. `[optional]`
//
// Styleguide: Mixins.transform-align
@mixin transform-align($axis: '') {

  position: absolute;

  @if($axis == 'x' or $axis == '') { left: 50%; }
  @if($axis == 'y' or $axis == '') { top: 50%; }

  @if $axis == 'x' { transform: translateX(-50%); }
  @if $axis == 'y' { transform: translateY(-50%); }

  @if $axis == ''  { transform: translate(-50%, -50%); }

}
